a:focus {
    outline: 0 !important;
    }

/* Header */

#masthead .ast-container, .site-header-focus-item + .ast-breadcrumbs-wrapper {
    padding-right: 0;
}

.site-header-section > * {
    padding: 0;
}

.ast-builder-menu {
    display: flex;
    flex-direction: row;
}

.order_nav {
    background-color: #DC9F96;
    width: 236px;
    color: white !important;
    text-align: center !important;
    order: 3;
}

.order_nav a {
    color: white !important;
    margin: auto;
    
}

#link_menu_admin {
    order: 2;
    padding-right: 4rem;
}

#link_menu_admin a {
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.order_nav:hover  {
    background-color: #C02E44;
}

.meet_us_nav {
    padding: 0 4rem;
    order: 1;
}

/* Footer */

.footer-nav-wrap {
    font-family: Syne;
}

/* Forms */
div span.wpforms-required-label {
    visibility: hidden;
}

div button#wpforms-submit-293 {
    height: 55px;
 }

 div textarea#wpforms-293-field_2 {
    resize: none;
 }

 div button#wpforms-submit-517 {
    height: 65px;
    width: 200px;
    margin-left: -2rem;
 }


form#wpforms-form-517 div.wpforms-field {
    margin-right: 21rem;
}


form#wpforms-form-517 em.wpforms-error {
    color: #7C0A02;
    font-family: syne;
}

form#wpforms-form-517 input[type=number] {
    -moz-appearance: textfield;
}
form#wpforms-form-517 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

div.elementor-element-2307856  {
    width: 100%;
}

div.elementor-element-2307856 form#wpforms-form-517 {
    width: 100%;
}

form#wpforms-form-517 div.wpforms-field-container {
    width: 150%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
}


/* curved separator*/
div.elementor-element-b93de02 {
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
    box-shadow: inset 0 -10px 0 rgb(227, 217, 208);
}

div button#wpforms-submit-806 {
    height: 65px;
    width: 200px;
    margin-left: 1rem;
 }


/* mobile & tablet*/

@media (min-width: 662px) and (max-width: 923px) {
    .custom-logo {
        width: 8.5rem;
        margin-left: 2rem;
    }
    div.elementor-widget-image-box.elementor-position-left div.elementor-image-box-wrapper {
        flex-direction: column;
    }
    .ast-header-break-point  div.main-navigation ul.main-header-menu {
        background-color: white;
    }
    .ast-header-break-point .main-navigation ul li.menu-item a.menu-link {
        padding: 0;
    }
    .ast-header-break-point .main-navigation ul li.order_nav:active {
        background-color: #C02E44;
    }
    .ast-header-break-point .main-navigation ul li.order_nav {
        border-radius: 10px;
    }
    .ast-header-break-point .main-header-bar .main-header-bar-navigation ul.main-header-menu {
        border-top-style: none;
    }
    
}

@media (max-width: 661px) {
    div.ast-flex {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .ast-header-break-point .main-header-bar .main-header-bar-navigation ul.main-header-menu {
        border-top-style: none;
        background-color: white;
    }
    .ast-header-break-point .main-navigation ul li.menu-item {
        padding: 0;
        height: 4rem;
        width: 100%;
        text-align: center;
    }
    .ast-header-break-point .main-navigation ul li.menu-item a.menu-link {
        line-height: 20px;
    }
    .ast-header-break-point .main-navigation ul li.order_nav{
        width: 100%;
    }
    #link_menu_admin {
        order: 2;
        padding-right: 0;
    }
    .ast-header-break-point .main-navigation ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ast-header-break-point div.ast-primary-header-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ast-header-break-point div.main-navigation ul li.menu-item {
        height: 2rem;
        padding: 2rem 0;
    }
    .ast-header-break-point div.main-navigation ul  li.order_nav {
        margin-bottom: 1rem;
    }

    .ast-header-break-point div.main-navigation ul  li.order_nav a {
        margin-top: -0.5rem;
        border-radius: 10px;
    }
}